@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//mediaQuery
// 0-600 phone
// 600-900 tablet 縦
// 900-1200 tablet 横
// 1200-1800 pc
// 1800- big pc

//??media only screenの意味は？

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
