.footer {
  margin-top: -10rem;
  padding: 10rem 0;
  position: relative;
  font-size: 1.4rem;

  &__logo-box {
    text-align: center;
    margin: 8rem 0;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-black;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2 rem rgba($color-black, 0.4);
      transform: scale(1.2);
    }
  }
}
