.header {
  height: 95vh;
  background-image: url(../img/Fuji.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90vh);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90vh);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 6rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.wrapper {
  height: 95vh;
  animation: daySky 30s ease-in-out infinite;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90vh);
}
